* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: #8360c3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    width: 400px;
    height: 100vh;
    margin: 0 auto;
}

.searchForm {
    width: 100%;
    height: 50px;
    padding: 3em 0;
    display: flex;
    box-shadow: grey;
}

.userLocation {
    width: 60px;
    height: 50px;
    border: 1px solid #58BAC9;
    background: #58BAC9;
    text-align: center;
    color: #fff;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    font-size: 20px;
}

.searchTerm {
    width: 100%;
    border: 3px solid #58BAC9;
    border-right: none;
    padding: 5px;
    height: 50px;
    outline: none;
    color: #58BAC9;
    border-radius: 25px;
}

.searchTerm:focus {
    color: #58BAC9;
}

.searchButton {
    width: 60px;
    height: 50px;
    border: 1px solid #58BAC9;
    background: #58BAC9;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.display {
    background-color: white;
    padding-top: 3em;
    text-align: center;
    color: white;
    border-radius: 25px;
}

.title {
    font-size: 2em;
    text-align: center;
    color: grey;
}

.city {
    font-size: 2em;
}

.date {
    font-size: 1.5em;
}

.temp {
    font-size: 4em;
    font-weight: 900;
    letter-spacing: 0.1em;
}

.description {
    font-size: 2em;
}

.minmax {
    font-size: 1.5em;
}
